@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #050505;
  color: #F5F5F5;
  @apply font-sans;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 2px;
}
